.vscode/settings.json
src/consumer/vendor/autoload.php
src/consumer/vendor/composer/autoload_classmap.php
src/consumer/vendor/composer/autoload_files.php
src/consumer/vendor/composer/autoload_namespaces.php
src/consumer/vendor/composer/autoload_psr4.php
src/consumer/vendor/composer/autoload_real.php
src/consumer/vendor/composer/autoload_static.php
src/consumer/vendor/composer/ClassLoader.php
src/consumer/vendor/composer/installed.json
src/consumer/vendor/composer/LICENSE
src/sender/vendor/autoload.php
src/sender/vendor/composer/autoload_classmap.php
src/sender/vendor/composer/autoload_files.php
src/sender/vendor/composer/autoload_namespaces.php
src/sender/vendor/composer/autoload_psr4.php
src/sender/vendor/composer/autoload_real.php
src/sender/vendor/composer/autoload_static.php
src/sender/vendor/composer/ClassLoader.php
src/sender/vendor/composer/installed.json
src/sender/vendor/composer/LICENSE
